# OS-specific
.DS_Store

# editors
*.swp

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
Gemfile.lock

# Vagrant
.vagrant
Vagrantfile
!example_box/Vagrantfile

# RVM files for gemset/ruby setting
.ruby-*
.rvmrc

.idea
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
bundle/
